<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#example-navbar-collapse">
      <span class="sr-only">Toggle</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">Rorusage's blog</a>
  </div>

  <div id="example-navbar-collapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to("New Post", new_post_path, class: "btn btn-primary pull-right") %></li>
    </ul>
  </div>
</nav>
